:root {
  --color-bg: #e3fdfd;
  --color-primary: #cbf1f5;
  --color-dark: #000000;
  --bg-price: #00e5ff79;
  --color-button: #71c9ce;
  --color-text-card: white;
  --color-select: white;
  --color-msj-error: grey;
  --font-primary: "Sunflower-Light";
  --font-bold: "Sunflower-Bold";
}
@font-face {
  font-family: "Sunflower-Light";
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url("../assets/fonts/Sunflower-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Sunflower-Bold";
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url("../assets/fonts/Sunflower-Bold.ttf");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  min-height: 100vh;
  font-family: var(--font-primary);
}
.container {
  margin: 0px 5%;
}
hr {
  border-color: var(--color-button);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.header {
  margin-bottom: 10px;
  padding-top: 10px;
}
h1 {
  font-family: var(--font-bold);
}
.search {
  margin: 10px 5%;
}
.form__search {
  display: flex;
  flex-direction: column;
}
.form__element {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}
.form__label {
  font-size: 16px;
  margin-bottom: 5px;
}
.form__select {
  height: 45px;
  border: var(--color-select) 2px solid;
  background-color: var(--color-select);
  border-radius: 4px;
  font-family: var(--font-primary);
  font-size: 16px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.form__select:focus {
  border: 2px solid var(--color-button);
  outline-style: none;
}
.section {
  margin: 10px 0px;
}

.group-cards {
  display: flex;
  flex-direction: column;
}
.card {
  width: auto;
  height: auto;
  margin: 10px 0px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: var(--color-text-card);
  height: 120px;
  position: relative;
  overflow: hidden;
}
.card--no-result {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__msj {
  color: var(--color-msj-error);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.card__section {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__header {
  width: 200px;
}
.card__brand {
  font-family: var(--font-bold);
  font-size: 20px;
}
.details {
    width: fit-content;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -169px;
    display: flex;
    justify-content: center;
}
.details__icon {
  padding: 0px 15px;
  width: 15px;
  height: 100%;
  display: inline-block;
  backdrop-filter: blur(1px);
  transition: all 0.6s ease;
  cursor: pointer;
}
.card__price {
  width: fit-content;
  background: var(--bg-price);
  padding: 8px;
  border-radius: 4px;
  color: white;
  font-family: var(--font-bold);
  cursor: pointer;
}
.info {
    width: 158px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    backdrop-filter: blur(1px);
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;
    font-size: 13px;
    opacity: 0;
    transition: all 0.6s ease;
    cursor: pointer;
}
.move-left{
  transform: translateX(-169px);
  opacity: 1;
}
.li {
  background-color: var(--color-primary);
  color: var(--color-dark);
  list-style: none;
  border-radius: 5px;
  padding: 2px 5px 0px 5px;
  font-weight: 900;
}
.info__doors {
    display: inline-block;
    margin: 3px 0px;
}
.info__colour {
  display: inline-block;
  margin: 3px 0px;
}
.info__transmission {
  display: inline-block;
  margin: 3px 0px;
}
.show{
    right: 0%;
}
.hidden {
  transform: translateX(169px);
  opacity: 1;
}

@media (min-width: 426px) { /*tablet*/
  .container {
    margin: 0px 15%;
  }
}
@media (min-width: 769px) { /*laptop*/
  .container {
    margin: 0px 5%;
  }
  .container__main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .search {
    width: 30%;
  }
  .results {
    width: 60%;
  }
  #hr-2 {
    border-color: rgb(255, 255, 255);
    box-shadow: none;
  }
}
@media (min-width: 1441px) {
  .container {
    margin: 0px 20%;
  }
}