:root {
  --color-bg: #e3fdfd;
  --color-primary: #cbf1f5;
  --color-dark: #000000;
  --bg-price: #00e5ff79;
  --color-button: #71c9ce;
  --color-select: #bdbdbd;
  --font-primary: "Sunflower-Light";
  --font-bold: "Sunflower-Bold";
  --color-text-card: white;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  min-height: 100vh;
  font-family: var(--font-primary);
}


@font-face {
  font-family: "Sunflower-Light";
  src: url("../assets/fonts/Sunflower-Light.ttf");
}
@font-face {
  font-family: "Sunflower-Medium";
  src: url("../assets/fonts/Sunflower-Medium.ttf");
}
@font-face {
  font-family: "Sunflower-Bold";
  src: url("../assets/fonts/Sunflower-Bold.ttf");
}